@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Quicksand:wght@500;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

